*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* #2B2922 */
.header{
    height: 100vh;
    background-image: url(./img/pexels-ekaterina-bolovtsova-6077326.jpg);
    background-size: cover;
    background-position: top;
}
.baclground-color{
    background-color: #2B2922;
}
.navigation{
    display: flex;
    padding: 4rem;
    justify-content: space-around;  
  
}
.link-text{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.textt{
    color: #fff;
    font-size: 1.4rem;
    list-style: none;
}
.logo-1{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
}
.nav-btn{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
    color: rgb(241, 192, 129);
    background-color: #2B2922;
    border: none;
    border: 1px solid rgb(241, 192, 129);
}
.justice-hading{
    font-size:5.2rem;
    color: #fff;
}
.rightside{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.justicepara{
    font-size: 1.2rem;
    color: rgb(207, 207, 207);
}
.iconss{
    font-size: 6.4rem;
    color: #fff;
}
.left-right{
    background-color: #2B2922;
}
.left-right{
    display: flex;
    align-items: center;
   justify-content: flex-end;
}
.left{
    background-color: #3f3b2d;
}
.right-icon{
    background-color: rgb(240, 172, 83);
}